.u-section-1 .u-sheet-1 {
  min-height: 220px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 81px auto 0 40px;
}

.u-section-1 .u-text-2 {
  margin: 23px auto 32px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }
}
.u-section-2 {
  background-image: url("../Image/BackGround3.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 590px;
}

.u-section-2 .u-group-1 {
  min-height: 476px;
  background-image: none;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 0 30px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: normal;
  margin: 35px auto 0 30px;
}

.u-section-2 .u-text-2 {
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: normal;
  margin: -33px 316px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  margin: -39px 35px 0 auto;
}

.u-section-2 .u-form-1 {
  height: 260px;
  width: 594px;
  margin: 24px 516px 0 30px;
}

.u-section-2 .u-form-group-1 {
  margin-left: auto;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-form-group-2 {
  margin-left: auto;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-form-group-3 {
  margin-left: auto;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-form-group-4 {
  margin-left: auto;
}

.u-section-2 .u-label-4 {
  font-weight: 700;
}

.u-section-2 .u-form-group-5 {
  margin-left: auto;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  margin-left: auto;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
}

.u-section-2 .u-table-1 {
  width: 431px;
  height: 320px;
  overflow-y: scroll;
  display:block;
  margin: -165px 35px -310px auto;
}

.u-block-8435-72 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 261px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 10px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 346px;
    margin-left: 10px;
  }
  .u-section-2 .u-table-1 {
    margin: -175px 35px -310px auto;
  }
  #table{
    width: 300px;
  }
  .u-sheet{
    width: 90%;
  }
}

@media (max-width: 1060px) {
  .u-section-2 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 200px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 126px;
  }
  .u-section-2 .u-table-1 {
    width: 431px;
    height: 320px;
    overflow-y: scroll;
    display:block;
    margin: 4px 35px -310px auto;
  }
  #table{
    background-color: white;
    width: 100%;
  }
  html{
    background-color: rgb(209, 201, 151);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    /* margin-right: 150px; */
    margin-right: auto;
    margin-left: 20px;
    margin-top: 20px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1{
    margin-left: auto;
    margin-right: 20px;
  }
  .u-section-2 .u-table-1 {
    width: 431px;
    height: 320px;
    overflow-y: scroll;
    display:block;
    margin: 20px 35px -310px auto;
  }
  #table{
    background-color: white;
    width: 100%;
  }
  html{
    background-color: rgb(209, 201, 151);
  }
  .u-section-1 .u-text-1, .u-section-1 .u-text-2{
    margin-left: auto;
  }
}

@media (max-width: 630px) {
  .u-section-2 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 94px;
    margin-top: 20px;
    /* margin-left: 20px; */
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-right: 0;
  }
  .u-section-2 .u-table-1 {
    width: 431px;
    height: 320px;
    overflow-y: scroll;
    display:block;
    margin: 20px 35px -310px auto;
  }
  .u-section-2 .u-btn-1{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  #table{
    background-color: white;
    width: 100%;
  }
  html{
    background-color: rgb(209, 201, 151);
  }
  .u-section-2 .u-form-1{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* .u-section-2 {
    /* background-position: 50% 50%; */
     /* background-size: cover; */
  /* } */
}
.u-section-6 {
  min-height: 826px;
}

.u-section-6 .u-dialog-1 {
  width: 566px;
  min-height: 320px;
  height: auto;
  margin: 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-6 .u-text-1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-6 .u-form-1 {
  height: 104px;
  width: 400px;
  margin: 19px auto 0;
}

.u-section-6 .u-form-group-1 {
  width: 100%;
}

.u-section-6 .u-label-1 {
  font-size: 1rem;
}

.u-section-6 .u-form-group-2 {
  width: 100%;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: none;
  width: 49%;
  padding: 10px 30px;
}

.u-section-6 .u-icon-1 {
  width: 15px;
  height: 15px;
  left: auto;
  top: 17px;
  position: absolute;
  right: 16px;
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-dialog-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-dialog-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-6 .u-form-1 {
    height: 152px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

/* .u-table-entity{
  height: 300px;
  overflow-y: scroll;
  display:block;
} */