/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50vh;
    z-index: 100002;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00A1F1;
    border-right: 16px solid #7CBB00;
    border-bottom: 16px solid #FFBB00;
    border-left: 16px solid #F65314;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@media (max-width: 767px) {
    #loader{
        top:400px;
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
 
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/**/

#fader{
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.288);
}
/*test*/
.u-dialog-block {
    position: absolute;
}
body{
    background-color: #f1b5b8 !important;
}